version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 14
    groups:
      actions:
        patterns:
          - "*"
    open-pull-requests-limit: 5
    commit-message:
      prefix: "chore(deps)"
